@import 'style';
.wrap {
  width: 100%;
  overflow: hidden;
  padding-left: 40px;
  position: relative;
}

header {
  @include position(fixed);
  @include flexDiplay(center, flex-start);
  z-index: 99;
  overflow: hidden;
  .icon {
    width: 40px;
    height: 40px;
    @include flexDiplay(center, center);
    &::before {
      margin-right: 0 !important;
    }
  }
  .menu {
    @include flexDiplay();
    li {
      width: fit-content;
      a {
        @include flexDiplay();
      }
    }
  }
}
section,
.headingArea,
.content {
  @include flexDiplay(center, flex-start, center);
  flex-direction: column;
  overflow: hidden;
}
.content {
  @include flexDiplay(center, flex-start, center);
  height: 100%;
}
section {
  width: 100%;
}
.headingArea {
  gap: 10px;
  width: 100%;
  height: 40vh;
  justify-content: center;
  h3 {
    text-align: center;
    span {
      display: block;
      font-weight: bold;
    }
  }
}
.subTit {
  margin-bottom: 20px;
}
// *** index 기본 스타일 *** //

#intro {
  justify-content: center;
  .content {
    height: auto;
  }
  p {
    width: fit-content;
    word-break: keep-all;
    text-align: center;
    padding: 2vh;
    font-weight: bold;
    span {
      font-size: 1.8rem;
      font-weight: normal;
    }
  }
  .obj {
    width: 300px;
    max-width: 80%;
    height: 300px;
    margin: 5%;
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 150px;
      background: url('../images/mable.png') no-repeat;
      background-size: 300%;
      background-position: 17% 30%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 1;
      filter: contrast(1.2);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
// section1 - intro End

#portfolio {
  .content {
    width: 100%;
    height: 100%;
    .work {
      &-list {
        width: 100%;
        height: 100%;
      }
      &-item {
        height: 100%;
        position: relative;
        @include flexDiplay(center, flex-start, stratch);
        flex-direction: column;
        padding: 0 40px;
      }
      &-visual {
        height: 60%;
        min-height: 300px;
        background : {
          size: 100%;
          position: center;
          repeat: no-repeat;
        }
      }
      &-content {
        width: 100%;
        height: auto;
        padding: 3%;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px) grayscale(1);

        dl {
          width: 100%;
          overflow: hidden;
          margin-bottom: 10px;
          @include flexDiplay(center, flex-start, flex-start);
          flex-direction: row;
          flex-wrap: wrap;
        }
        dt {
          width: 30%;
          min-width: 140px;
          font-weight: bold;
        }
        dd {
          width: 70%;
          min-width: 200px;
        }
      }
    }
    .slick {
      &-slider {
        button {
          @include hiddenText();
          background: transparent;
          border: none;
        }
      }
      &-track {
        height: 100%;
      }
      &-list {
        width: 100%;
        height: calc(100% - 60px);
      }
      &-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        width: 40px;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.3) !important;
        &::before {
          margin: 0 !important;
        }
      }
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
      }
      &-dots {
        @include flexDiplay(center, center);
        gap: 1vw;
        height: 60px;
        li {
          background: url('../images/icons/circle.svg') no-repeat center;
          &.slick-active {
            background: url('../images/icons/ellipse.svg') no-repeat center;
          }
        }
      }
    }
  } // portfolio - content End
}

// section2 - portfolio End

#skills {
  .skill_list {
    @include flexDiplay(flex-start, space-around, flex-start);
  }
}
.coding,
.design,
.experience {
  &_list {
    @include flexDiplay(flex-start, space-around, center);
    flex-direction: row;

    svg {
      height: fit-content;
      width: 100%;
    }
    .skill_graph {
      @include flexDiplay();
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      overflow: hidden;
      width: 100%;
      dl {
        overflow: hidden;
        width: 100%;
        margin-bottom: 0;
        word-break: keep-all;
        dt {
          min-width: 80px;
          font-weight: bold;
        }
        dd {
          min-width: 100px;
          margin-bottom: 0;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
.experience_list {
  flex-wrap: wrap;
  img {
    width: 20%;
  }
}
// section3 - skills End

footer {
  @include flexDiplay(center, center, center);
  flex-direction: column;
  width: 100%;
  .connect {
    @extend footer;
    @include flexDiplay(flex-start, center, flex-start);
    width: 100%;
    padding: 5%;
    &-item {
      padding: 2%;
      text-align: center;
    }
    h5 {
      white-space: nowrap;
    }
    li {
      white-space: nowrap;
      margin-bottom: 5px;
      text-align: left;
    }
  }
  .copy {
    @extend footer;
    border-top: 1px solid $gray-light;
    width: 100%;
    height: 5vh;
  }
}
// footer End

@include mobile() {
  html,
  body {
    font-size: 80%;
  }
  #skills {
    .coding,
    .design {
      &_list {
        flex-direction: column;
        dt,
        dd {
          width: 100%;
        }
      }
    }
  }
  // mobile section1 - skills End
}
@include tablet() {
  html,
  body {
    font-size: 14px;
  }
  .wrap {
    padding-left: 0;
    padding-bottom: 6vh;
  }
  header {
    width: 100%;
    height: 6vh;
    top: auto;
    bottom: 0;
    left: 0;
    justify-content: center;
    background-color: $white;
    * {
      height: 100%;
    }
    nav {
      width: 100%;
      .icon_menu {
        display: none;
      }
    }
    .menu {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      li > a {
        color: inherit;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        span,
        .icon {
          height: auto;
        }
      }
    }
  }

  section {
    height: auto;
    // min-height: 94vh;
  }

  .headingArea {
    height: auto;
    min-height: 25vh;
  }
  // *** tablet index 기본 스타일 *** //

  #intro {
    height: 94vh;
  }
  // tablet section1 - intro End

  #portfolio {
    .headingArea {
      .pf_link {
        width: 100%;
        ul {
          @include flexDiplay();
          flex-direction: row;
          justify-content: space-evenly;
          width: 100%;
        }
      }
    }
    .content {
      height: auto;
    }
  }
  // tablet section2 - portfolio End

  #skills {
    .skill_list {
      flex-direction: column;
      .coding,
      .design,
      .experience {
        padding: 0 10%;
      }
    }
  }
  // tablet section1 - skills End

  footer {
    .connect {
      align-items: center;
      &-item {
        text-align: center;
      }
    }
  }
}
// *** tablet End *** //

@include desktop() {
  header {
    height: 100vh;
    background-color: transparent;
    width: 40px;
    transition-duration: 0.6s;
    .menu {
      @include flexDiplay(flex-start, flex-start, flex-start);
      flex-direction: column;
      li {
        a {
          height: 4vh;
          width: max-content;
          color: transparent;
          transition-duration: 0.6s;
        }
      }
    }
    &:hover {
      width: 120px;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px) grayscale(1);
      box-shadow: 0px 0px 15px $gray-light;
      .menu > li > a {
        color: inherit;
      }
    }
  }
  // header end

  section {
    height: 100vh;
  }
  // *** desktop index 기본 스타일 *** //

  #intro {
    // intro content style
  }
  // desktop section1 - intro End

  #portfolio {
    flex-direction: row;
    align-items: flex-start;

    .headingArea {
      width: 40%;
      height: 100%;
      justify-content: space-evenly;
      .pf_link {
        padding: 5%;
        border-top: 1px solid $gray-light;
        ul {
          width: fit-content;
          margin: 0 auto;
          li {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  // desktop section2 - portfolio End

  #skills {
    .skill_list {
      flex-direction: row;
      padding: 0 5%;
    }
  }
  // desktop section3 - portfolio End

  footer {
    .connect {
      flex-direction: row;
    }
  }
}
// *** desktop *** //

@include desktopWide() {
  .ui-dialog {
    width: 60% !important;
  }
}
// *** desktop wide *** //

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background: $white;
  overflow: hidden;
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    max-width: 80px;
  }
}
