@charset "utf-8";

@font-face {
    font-family: 'NIXGONL-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 한글 타이틀 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
/* 영문 타이틀 폰트 */
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 기본 폰트 */
/* font-family */

html,body{margin: 0; padding:0;font-size: 18px; } 
*{font-family: 'SpoqaHanSansNeo-Regular',sans-serif; font-size: 100%;}
p,span,a,li{font-family: inherit; font-size: inherit; color:inherit;}
a{font-style: none; text-decoration: none;}
ul,ol,li{list-style: none;}
/* reset */

.titleText{font-family: 'Megrim','NIXGONL-Vb',sans-serif;}


/* style */